{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lakeside Zoo{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container header-inner">
            <div class="logo">Lakeside Zoo</div>
            <nav>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'animals' %}">Animals</a>

                {% if user.is_authenticated %}
                    <a href ="{% url 'dashboard' user.first_name %}" style="color: white; margin-left: 16px;">Welcome, {{ user.first_name }}</a>
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
                <a href="{% url 'visitus' %}"> <button class="btn">Visit Us</button></a>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Contact: lakesidezoo@example.com · (555) 123-4567</p>
        <p>&copy; 2025 Lakeside Zoo · Student Project</p>
    </footer>
</body>
</html>